.changePassword_Input{
    padding: 10px 20px;
    border: none;
    width: 100%;
    background-color: #eaeaea;
    border-radius: 4px;
}
.changPassword_btn{
    padding: 10px 50px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: #fff;
}